#wrapper {
	width: 900px;
	border: 1px solid #dbdbdb;
	padding: 10px;
	margin: 10px auto;
}

#header {
	height: 100px;
	background: #4d7d90;
	margin-bottom: 10px;
}

#sidebar {
	height: 400px;
	background: #8a999f;
	width: 200px;
	float: left;
}

#content {
	height: 200px;
	background: #c7d4d9;
	width: 690px;
	margin-left: 210px;
}

#footer {
	height: 100px;
	background: #4d7d90;
	margin-top: 10px;
}

.clear {
	clear:both;
}