@import url(reset.css);

#header {
	background: rgba(255, 255, 255, 0.06);
	height: 73px;
	width: 1278px;
	margin: 0 auto;
}

body {
	background: #466368;
	background: radial-gradient(#002e62, #000824);
	font: 11px/1.5 Roboto, Verdana, Helvetica, sans-serif;
	color: #fff;
	background: url(../images/background.png);
	background-repeat: no-repeat;
	background-position: center 0;
}

a {
	color: #fff;
	text-decoration: none;
}

#logo {
	width: 133px;
	height: 19px;
	padding: 28px 0 26px 120px;
	float: left;
}

#menu {
	float: right;
	padding: 27px 0 30px 0;
	margin-right: -60px; 
}

#menu ul li {
	float: left;
	margin-left: 25px;
	margin-right: 20px;
}

.icon_menu {
	padding-right: 6px;
}

#icon_search {
	margin-right: -3px;
}

#product {
	width: 638px;
	height: 585px;
	background: url(../images/headphone.png);
	background-repeat: no-repeat;
	background-position: center bottom;
}